# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.sqlite
*.env
venv/
.venv/
.env.*

# VSCode
.vscode/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/
dist/

# Telethon session files
*.session
*.session-journal

# OS
.DS_Store
Thumbs.db